@model IEnumerable<JobRequestListViewModel>

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewBag.categoryName</h1>

    <!-- Cards Section -->
    <div class="row" id="cardsContainer">
        <!-- Cards Section -->
        <div class="row" id="cardsContainer">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4 card-item">
                        <div class="card">
                            <img src="@item.ImagePath" class="card-img-top" alt="@item.Title">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">Place: @item.Location</p>
                                <p hidden class="card-text">Date: @item.Created.ToString("yyyy-MM-dd")</p>
                                <a href="/HomeOwner/JobRequest/JobRequestDetails/@item.Id" class="btn btn-primary mt-2">View</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-center">No items found.</p>
                </div>
            }
        </div>

    </div>
</div>




